*.user
*.suo
*.Cache
/bin
/logs
/setup/*/bin
/setup/*/obj
/setup/bin
/setup/obj
/src/bin
/src/obj
/packages
/src/ScottLerch.snk
/src/ScottLerch.pfx
/.vs
*.nupkg
/HostsFileEditor/bin
/HostsFileEditor/obj
/HostsFileEditor.WinUI/bin
/HostsFileEditor.WinUI/obj
/HostsFileEditor.Core/bin/Debug
/HostsFileEditor.Core/obj
