<?xml version="1.0"?>

<!--
Copyright 2011 Scott M. Lerch

This file is part of HostsFileEditor.

HostsFileEditor is free software: you can redistribute it and/or modify it
under the terms of the GNU General Public License as published by the Free
Software Foundation, either version 2 of the License, or (at your option)
any later version.

HostsFileEditor is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
more details.

You should have received a copy of the GNU General Public   License along
with HostsFileEditor. If not, see http://www.gnu.org/licenses/.
-->

<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="HostsFileEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client" />
  </startup>
  <userSettings>
    <HostsFileEditor.Properties.Settings>
      <setting name="ArchiveVisible" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="WindowLocation" serializeAs="String">
        <value>50, 50</value>
      </setting>
      <setting name="WindowSize" serializeAs="String">
        <value>692, 543</value>
      </setting>
      <setting name="RemoveDefaultText" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AutoPingIPAddresses" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="WindowState" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="SplitterWidth" serializeAs="String">
        <value>520</value>
      </setting>
    </HostsFileEditor.Properties.Settings>
  </userSettings>
</configuration>