<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7ZipCLI" version="9.20.0" targetFramework="net40-client" />
  <package id="ILMerge" version="2.13.0307" targetFramework="net40-client" />
  <package id="MSBuild.ILMerge.Task" version="1.0.5" targetFramework="net40-client" />
</packages>